html{
    height: 100%;
}

@font-face {
    font-family: 'azonixregular';
    src: url('../fonts/azonix-webfont.woff2') format('woff2'),
    url('../fonts/azonix-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.nextSection {
    height: 800px;
    position: relative;
    z-index: 5;
}

.container-lpo {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.video-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.svg-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

svg {
    width: 100%;
    height: 100%;
    overflow: visible;
    display: block;
}
svg text {
    text-anchor: middle;
    font-family: 'azonixregular';
    font-size: 50em;
}
svg mask rect {
    /*   fill: rgba(255, 255, 255, 0.8); */
    fill: white;
}
svg > rect {
    fill: #010000;
    -webkit-mask: url(#mask);
    mask: url(#mask);
}

.video-container {
    position: absolute;
    top: 50%;
    left: 49.9%;
    transform: translate(-50%, -50%);
    z-index: -1;
    /* 	border: 10px solid black; */
    overflow: hidden;
}

video{
    min-height: 100%;
    min-width: 100%;
    height: 150%;
    width: 150%;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate( -50%, -50%);
}
